*{
  margin :0px;
  padding:0px;
  box-sizing:border-box;
}
  
.main{
  margin:10px auto;
  padding:4px 12px;
  background-color:antiquewhite;
  width:300px;
  height:90vh;
  border:2px solid black;

}
.small{
  font-size:12px;
  font-weight:800;
}
.large{
  font-size:24px;
}
h1{
  text-align:center;
}
.heading{
  margin: 4px 4px;
}
.bold{
  font-weight:bold;
}
.para{
  border-top:1px solid grey;
}
.border{
  background-color: black;
  height:10px;
  border:none;

}
.border-small{
  background-color: black;
  height:5px;
  border:none;

}
.flex{
  display:flex;
  justify-content: space-between;
}