*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    display: flex;
    align-items: center;
    background:linear-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7)
      );
    color: #fff;
}

 ul{
    
    margin-left: 100px;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.15rem;
    gap:150px;
}
 li:first-child{
    padding: 10px 20px;
    color: black;
    background-color: white;
} 



.hero{
    background-image:url("https://e0.pxfuel.com/wallpapers/850/763/desktop-wallpaper-construction-site-construction-work.jpg");
    height: 62vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    
}
 .images{
        height: 500px;
        width: 420px;
        margin: 20px ;
    }

.last{
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 80vh;
    position:relative;
    top: 250px;

}
     .topic{
        height: 250px;
        width: 40vw;
        color: #fff;
        position: absolute;
        bottom: 10%;
        left: 50px;
        text-align:justify;
    }
    .last-img{
        height: 420px;
        width: 40vw;
        position: absolute;
        right: 100px;
        top:60px;
    }
